# 依存関係
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# 開発用
.env*.local

# Git関連
.git
.gitignore

# IDE設定
.vscode
.idea

# OS固有
.DS_Store
*.swp
*.swo
Thumbs.db

# ログ
*.log

# テスト
coverage

# ビルド成果物
dist